.header {
    position: relative;
    /* background-image: linear-gradient(90deg, #42d035, #9abd0d, #ea0d09); */
    background-color: black;
    border-bottom: 2px solid black;
    color: white;
    position: relative;
}
.header__logo {
    display: none;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0), rgb(153 255 1 / 70%)), url(img/gaztreetboys.svg) no-repeat;
    background-size: 80%;
    background-position:50%;
    background-color: rgb(255, 255, 255);
    width: 90px;
    max-width: 200px;
    border-radius: 0 0 5px 0px;
    border: 1px black solid;
    height: 72px;
    border-left: 0;
    border-top: 0;
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px;
    gap: 15px;
    height: 100%;
}




.nav__list {
    font-family: "Montserrat Alternates", sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8vh 60px;
}

.nav__link {
    transition: 0.5s;
}

.nav__link:hover {
    color: rgb(153, 255, 0);
}

.socials__text-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav__logo-text {
    display: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
    
